<div id="menu">
  <%= link_to _("Index"), :controller => "citation_index", :action => "index" %>
  <%= link_to _("Advanced search"), :controller => "citation_index", :action => "search" %>
  <%= link_to _("Most cited authors"), :controller => "citation_index", :action => "most_cited" %>
  <%= link_to _("Statistics"), :controller => "citation_index", :action => "loaded_data" %>
  <%= link_to _("SciELO-México"), "http://www.scielo.org.mx" %>  
</div>