<h4 class="centered"><%= _("ScieloIndex Management") %></h4>

<p><%= @completition_msg %></p>

<div class="link-container">
   1. <%= link_to "Borrar base de datos", :controller => "scielo_admin", :action => "db_action_to_exec", :option => 1 %><br/>
   2. <%= link_to "Migrar base de datos", :controller => "scielo_admin", :action => "db_action_to_exec", :option => 2 %><br/>
   3. <%= link_to "Crear base de datos y ejecutar migraciones", :controller => "scielo_admin", :action => "db_action_to_exec", :option => 3 %><br/>
   4. <%= link_to "Reinicializar base de datos", :controller => "scielo_admin", :action => "db_action_to_exec", :option => 4 %>
</div>
