
  <tr><td id="title"><%= article.title_as_vancouver %></td></tr>
  <tr>
    <td class="authors">
      <%= article.authors.map do |author| 
        link_to(author.as_vancouver, :controller => "citation_index",:action => "list_authors_articles", :id => author )
       end.join(", ") %>,
    <%= article.journal_as_vancouver %></td>
  </tr> 

  <tr>
    <td id="links">
      <%= link_to _('Cited by %d', article.citations), {:action => 'list_articles_citations', :id => article}, {:class => "art_link"} %>
      <%= pdf_download_link(article) %>
      <%= html_view_link(article) %>
    </td>
  </tr>